.service{
    padding: 5rem 1rem 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1rem;
}
@media (max-width:1115px) {
    .service{
        grid-template-columns: repeat(4,1fr);
    }
}
@media (max-width:1000px) {
    .service{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:850px) {
    .service{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:510px) {
    .service{
        grid-template-columns: repeat(1,1fr);
    }
}